// Contains essential project-specific variables. Feel free to pick up
// your custom values.

// Classy namespace.
@classy-namespace: ~"";

// Do apply `box-sizing: border-box` mode globally?
@global-border-box: true;

// Set the base font size to user's value (16px by default in all major
// browsers).
@base-font-size: 16px;

// Set the line height for better bodycopy readability.
@line-height:  1.4em;

// Use unitless value of `line-height` as `line-height-ratio` because we set
// it in em.
@line-height-ratio: unit(@line-height);

// Uses as the base unit to aligning elements.
@unit: @line-height;

// Fonts in use.
@serif-font-family:      Georgia, "Times New Roman", Times, serif;
@sans-serif-font-family: Arial, Tahoma, sans-serif;
@monospace-font-family:  Menlo, Monaco, "Courier New", monospace;
